body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-top: 5pt;
    margin-bottom: 10px;
  }
  
  .square {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: calc(250px / 3);
    height: calc(250px / 3);
    font-size: 32px;
    color: #111;
    background-color: #fff;
    border: 1px solid #999;
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
  }
  
  .game-info {
    margin-left: 20px;
  }
  